
<!--
  templateType: page
  isAvailableForNewContent: true
  label: KI-Transformation Landing Page
  screenshotPath: ./images/template-preview.png
-->
<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>{% if content.html_title %}{{ content.html_title }}{% else %}{{ page_meta.name }}{% endif %}</title>
  {% if content.meta_description %}<meta name="description" content="{{ content.meta_description }}">{% endif %}
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {{ standard_header_includes }}
  
  <!-- HubSpot Performance Tags -->
  {% require_head %}
  <link rel="stylesheet" href="{{ get_asset_url('./css/main.css') }}">
  {% end_require_head %}
</head>
<body>
  {{ standard_body_includes }}
  
  <div class="body-container-wrapper">
    <div class="body-container container-fluid">
      {% dnd_area "dnd_area" label="Main content" %}
        {% dnd_section %}
          {% dnd_module path="./modules/navigation.module" %}{% end_dnd_module %}
        {% end_dnd_section %}
        
        {% dnd_section %}
          {% dnd_module path="./modules/hero.module" %}{% end_dnd_module %}
        {% end_dnd_section %}
        
        {% dnd_section %}
          {% dnd_module path="./modules/painpoints.module" %}{% end_dnd_module %}
        {% end_dnd_section %}
        
        {% dnd_section %}
          {% dnd_module path="./modules/methodology.module" %}{% end_dnd_module %}
        {% end_dnd_section %}
        
        {% dnd_section %}
          {% dnd_module path="./modules/case-studies.module" %}{% end_dnd_module %}
        {% end_dnd_section %}
        
        {% dnd_section %}
          {% dnd_module path="./modules/packages.module" %}{% end_dnd_module %}
        {% end_dnd_section %}
        
        {% dnd_section %}
          {% dnd_module path="./modules/downloads.module" %}{% end_dnd_module %}
        {% end_dnd_section %}
        
        {% dnd_section %}
          {% dnd_module path="./modules/meeting.module" %}{% end_dnd_module %}
        {% end_dnd_section %}
        
        {% dnd_section %}
          {% dnd_module path="./modules/footer.module" %}{% end_dnd_module %}
        {% end_dnd_section %}
      {% end_dnd_area %}
    </div>
  </div>
  
  {% require_js %}
  <script src="{{ get_asset_url('./js/main.js') }}"></script>
  {% end_require_js %}
  
  {{ standard_footer_includes }}
</body>
</html>
