
<nav class="navbar">
  <div class="container">
    <a href="/" class="navbar-brand">
      {% if module.logo_image %}
        <img src="{{ module.logo_image.src }}" alt="{{ module.logo_image.alt }}" style="height: 40px;">
      {% else %}
        {{ module.brand_name }}
      {% endif %}
    </a>
    
    <ul class="navbar-nav">
      {% for item in module.nav_items %}
        <li>
          <a href="{{ item.link.href }}" class="nav-link">{{ item.link_text }}</a>
        </li>
      {% endfor %}
      
      {% if module.cta_button_text %}
        <li>
          <a href="{{ module.cta_button_link.href }}" class="btn btn-secondary">
            {{ module.cta_button_text }}
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>
